<div class="container">

    <div class="row" style="margin-top: 80px;">
        <div class="col-lg-12">
            <div class="card" style="border: rgb(30, 225, 160);">
                <div class="card-header">Client Update</div>
                <div class="card-body">
                    <form #cliForm = "ngForm"  (ngSubmit) = "editClient()">
                        
                        <div class="row">
                            <input type="text" [(ngModel)]="clientObj.id" name="id" class="form-control"  hidden/> <br>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-md-4">
                                
                                <label>Client Name</label>
                                <input type="text" class="form-control" name="name" [(ngModel)] ="clientObj.name"  />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Compagny</label>
                                <input type="text" class="form-control" name="company" [(ngModel)] ="clientObj.company" />
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email" [(ngModel)] ="clientObj.email" />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Phone</label>
                                <input type="text" class="form-control" name="phone" [(ngModel)] ="clientObj.phone" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Location</label>
                                <input type="text" class="form-control" name="location" [(ngModel)] ="clientObj.location"  />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" [(ngModel)] ="clientObj.password" />
                            </div>
                        </div>
                        <br>

                        <input type="submit"  value="Update Client"  class="btn btn-primary" />

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>